name: Workflow evento
on:
  push:
jobs:
  apenas-main:
    if: ${{ github.ref == 'refs/heads/main' }}
    name: Esse Job sรณ executa na branch main
    runs-on: ubuntu-latest
    steps:
        - name: Executando na main
          run: echo "Executando na main"